* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 5px 0;
    background: #222;
    color: #fff;
    width: 100%;
    position: fixed;
}
.restaurant-icon {
    display: flex;
    gap: 3px;
}
.restaurant-icon img {
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 50%;
}
.restaurant-icon h1 {
    margin-top: 25px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav button {
    background: #fff;
    margin-top: 15px;
    margin-right: 8px;
    border: none;
    padding: 5px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

nav button:hover {
    background: orange;
    color: #fff;
}
#cart-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background: orange;
    color: #333;
    margin-top: 35px;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
#cart-items div{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
#cart-total {
    font-weight: bold;
    margin-top: 20px;
}
#close-cart {
    margin-top: 20px;
    width: 100px;
    background: red;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.add-cart:hover {
    background: darkorange;
}
#cart-items div{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#cart-sidebar {
    position: fixed;
    top: 0;
    right: -450px;
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
#cart-sidebar.open {
    right: 0;
}
.cart-row {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.hero-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3rem;
    height: 600px;
    background-color: #fff;
    margin: 0px 0px 20px 0px;
    border-radius: 12px;
    padding: 40px;
}
.hero-text h2 {
    font-size: 55px;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 0px;
    color: #1b3a57;
}
.hero-text p {
    margin-bottom: 25px;
    padding: 20px;
    font-size: 17px;
    color: #415a77;
}
.hero-text button {
    margin-left: 20px;
    padding: 10px 25px;
    background-color: orange;
    color: #333;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}
.hero-text .btn:hover {
    background-color: #143044;
}
.hero-text a {
    text-decoration: none;
    color: #333;
}
.hero-img img {
    width: 100%;
    height: 380px;
    border-radius: 23px;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-top: 80px;
}
#menu-container {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 0 20px;
}

.menu-item {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.menu-item:hover {
    transform: ;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.price {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    font-size: 18px;
    color: green;
}
.add-cart {
    margin-top: 12px;
    background: orange;
    color: #333;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.delete-btn {
    background: red;
    color: #333;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.delete-btn:hover {
    background: darkred;
}
.container-footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}